extends layouts/main

include mixins/smallVideo
include mixins/comment

block content
    .detail 
        .detail__main
            .video-player
            h3.video__title We are going to Peru [Vlog]
            span.video__views 75,090 views
            .comments
                span.comments__count 8 Comments
                form.comments__form
                    .comments__user
                    textarea.comments__textarea(placeholder="Add a comment")
                ul.comments__list
                    +comment({
                        username: 'Nicolas Serrano Arevalo',
                        timestamp: '4 years',
                        content:"This is the best video I've ever seen"
                    })
        .detail__related
            +smallVideo({
                id:1,
                thumbnail:"https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/45614006_2054343997955112_419649091144777728_n.jpg?_nc_cat=101&_nc_ht=scontent-hkg3-1.xx&oh=c302e79002cf8cc8f3ce118d83f41b5f&oe=5C8870BA",
                title:'Love this',
                views:40,
                author:'Nicolas'
            })
            +smallVideo({
                id:1,
                thumbnail:"https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/45614006_2054343997955112_419649091144777728_n.jpg?_nc_cat=101&_nc_ht=scontent-hkg3-1.xx&oh=c302e79002cf8cc8f3ce118d83f41b5f&oe=5C8870BA",
                title:'Love this',
                views:40,
                author:'Nicolas'
            })