extends layouts/main

block content
    .edit-profile
        form.edit-profile__form(action="/edit-profile")
            span
                label(for="file") Avatar
                input(type="file", name='avatar', id="file")
            input(type="text", placeholder="Name", name='name')
            input(type="email", placeholder="Email", name='email')
            input(type="password", placeholder="Password", name='password')
            input(type="passwordVerification", placeholder="Repeat Password", name='repeat-password')
            input(type="submit", value="Update Profile")