extends layouts/main

block content
    .login
        form.login__form(action="/login")
            input.login__input(type="text", placeholder="Email", required=true)
            input.login__input(type="password", placeholder="Password", required=true)
            input.login__btn(type="submit", value="Submit")