extends layouts/main

block content
    .auth
        form.auth__form(action=routes.login, method="POST")
            input.auth__input(type="text", name="email", placeholder="Email", required=true)
            input.auth__input(type="password", name="password", placeholder="Password", required=true)
            input.auth__btn(type="submit", value="Submit")
        include partials/social