extends layouts/main

block content
    .edit-profile
        form.edit-profile__form(action=routes.updatePassword, method="POST")
            input(type="password", placeholder="Old Password", name='oldPassword', required=true)
            input(type="password", placeholder="New Password", name='newPassword', required=true)
            input(type="password", placeholder="New Password", name='newPassword2', required=true)
            input(type="submit", value="Update Password")