extends layouts/main

include mixins/mainVideo

block content
    div.search
        header.search__header
            h3 Searching by 
                span.term Term
        .search__results
            +mainVideo({
                id:1,
                thumbnail:"https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/45614006_2054343997955112_419649091144777728_n.jpg?_nc_cat=101&_nc_ht=scontent-hkg3-1.xx&oh=c302e79002cf8cc8f3ce118d83f41b5f&oe=5C8870BA",
                title:'Love this',
                views:40,
                timestamp:'Yesterday'
            })
            +mainVideo({
                id:1,
                thumbnail:"https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/45614006_2054343997955112_419649091144777728_n.jpg?_nc_cat=101&_nc_ht=scontent-hkg3-1.xx&oh=c302e79002cf8cc8f3ce118d83f41b5f&oe=5C8870BA",
                title:'Love this',
                views:40,
                timestamp:'Yesterday'
            })
            +mainVideo({
                id:1,
                thumbnail:"https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/45614006_2054343997955112_419649091144777728_n.jpg?_nc_cat=101&_nc_ht=scontent-hkg3-1.xx&oh=c302e79002cf8cc8f3ce118d83f41b5f&oe=5C8870BA",
                title:'Love this',
                views:40,
                timestamp:'Yesterday'
            })
            +mainVideo({
                id:1,
                thumbnail:"https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/45614006_2054343997955112_419649091144777728_n.jpg?_nc_cat=101&_nc_ht=scontent-hkg3-1.xx&oh=c302e79002cf8cc8f3ce118d83f41b5f&oe=5C8870BA",
                title:'Love this',
                views:40,
                timestamp:'Yesterday'
            })
            +mainVideo({
                id:1,
                thumbnail:"https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/45614006_2054343997955112_419649091144777728_n.jpg?_nc_cat=101&_nc_ht=scontent-hkg3-1.xx&oh=c302e79002cf8cc8f3ce118d83f41b5f&oe=5C8870BA",
                title:'Love this',
                views:40,
                timestamp:'Yesterday'
            })
            +mainVideo({
                id:1,
                thumbnail:"https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/45614006_2054343997955112_419649091144777728_n.jpg?_nc_cat=101&_nc_ht=scontent-hkg3-1.xx&oh=c302e79002cf8cc8f3ce118d83f41b5f&oe=5C8870BA",
                title:'Love this',
                views:40,
                timestamp:'Yesterday'
            })