extends layouts/main


block content
    .upload-video
        form.upload-video__form(action="/upload")
            include partials/videoCapture
            span
                label(for="video") Avatar
                input(type="file", name='avatar', id="video")
            input(type="text", placeholder="Title", name='title')
            textarea(placeholder="Description", name='email')
            input(type="submit", value="Update Video")
