.edit-video {
  display: flex;
  justify-content: center;
  width: 100%;
  .edit-video__form {
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    span,
    input,
    textarea {
      margin-bottom: 15px;
    }
    button {
      width: 100%;
    }
  }
}
