@import "../partials/mainVideo.scss";
.home {
  grid-gap: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  .main-video {
    height: 200px;
    &:first-child,
    &:nth-child(2) {
      height: 500px;
      grid-column: span 3;
    }
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      height: 300px;
      grid-column: span 2;
    }
  }
}
