@import "../partials/mainVideo.scss";
.home {
  & > * {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 50px;
  }
  .home__featured {
    .main-video {
      height: 500px;
    }
  }
  .home__three {
    .main-video {
      height: 400px;
    }
    margin-bottom: 50px;
  }
  .home__all {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    .main-video {
      height: 200px;
    }
  }
}
