.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 3px solid $dark-grey;
  padding-top: 40px;
  padding-bottom: 20px;
  .footer__row {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer__copyright {
    color: #ccc;
    font-weight: 600;
    svg {
      fill: #cccccc;
      margin-bottom: 10px;
    }
  }
}
