@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "./config/reset.scss";
@import "./main.scss";
@import "./partials/header.scss";
@import "./partials/footer.scss";
@import "./partials/input.scss";
@import "./pages/home.scss";
@import "./pages/detail.scss";
@import "./pages/search.scss";
@import "./pages/login.scss";
@import "./pages/user.scss";
@import "./pages/edit-profile.scss";
@import "./pages/edit-video.scss";
