.video {
  width: 100%;

  .video__thumbnail {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 80%;
    margin-bottom: 20px;
  }
  .video__title {
    font-weight: 700;
    margin-bottom: 10px;
  }
  .video__data {
    color: rgba(0, 0, 0, 0.5);
    .video__date {
      margin-right: 10px;
    }
  }
}
